{% extends "::base.html.twig" %}

{% block title %}Team{% endblock %}

{% block body %}
<h1>Teams</h1>

<table class="list sorttable">
  <thead>
    <tr>
      <th class="sorttable_numeric" scope="col">ID</th>
      <th scope="col">teamname</th>
      <th scope="col">category</th>
      <th scope="col">affiliation</th>
      <th scope="col" class="sorttable_numeric"># contests</th>
      <th scope="col">host</th>
      <th scope="col">room</th>
      <th class="sorttable_nosort"></th>
      <th class="thleft" scope="col">status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for t in teams %}
    <tr class="category{{t.getCategory().categoryid}}">
      <td>t{{t.teamid}}</td>
      <td>{{t.name}}</td>
      <td>{{t.getCategory()}}</td>
      {% if t.getAffiliation() %}
        <td title="{{t.getAffiliation().getName()}}">{{t.getAffiliation().getShortname()}}</td>
      {% else %}
        <td>&nbsp;</td>
      {% endif %}
      <td>{{t.getContests()|length}}</td>
      <td>{# hostname #}{{t.hostname|default('-')}}</td>
      <td>{{t.room}}</td>
      <td class="team-nocon">
      <!-- <td class="team-nosub"> -->
      <!-- <td class="team-nocor"> -->
      <!-- <td class="team-ok"> -->
        {# connection or not? #}
        <a href="{{path('legacy.jury_team', {id: t.teamid})}}">●</a>
      </td>
      <td class="teamstat">{# status #}0/0</td>
      <td class="editdel">
        <a href="{{path('legacy.jury_team',{cmd: 'edit', id: t.teamid,referrer: 'teams'})}}"><img src="{{asset('images/edit.png')}}" alt="edit" title="edit this team" class="picto"></a>
        <a href="{{path('legacy.jury_delete',{table: 'team', teamid: t.teamid,referrer: 'teams', desc: t.name})}}"><img src="{{asset('images/delete.png')}}" alt="delete" title="delete this team" class="picto"></a>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<p><a href="{{path('legacy.jury_team', {cmd: 'add'})}}"><img src="{{asset('images/add.png')}}" alt="add" title="add new team" class="picto"></a></p>
{% endblock %}
